*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    width: 100%;
    background-image: url(./Mentahan/UCL\ Bg.jpg);
    background-size: cover;
}

nav{
    background-image: url(./Mentahan/UCL\ Bg.jpg);
    background-position-y:center;
}

.wrapper{
    display: flex;
    backdrop-filter: blur(7px);
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 0px 10px black;
}

.kirian{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.pp{
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.own{
    color: white;
    margin-left: 15px;
    text-transform: uppercase;
    font-weight: 550;
    font-family: sans-serif;
}

.wrapper .menu{
    display: flex;
    margin-right: 10px;
}

.menu>li{
    list-style-type: none;
    margin: 0px 10px;
}

.menu>li>a{
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-weight: 550;
    font-family: sans-serif;
}

.menu>li>a:hover{
    color: white;
    transition: all .2s;
    text-shadow: 0px 0px 30px white;
}

.cont{
    display: flex;
    justify-content: center;
    align-items: center;
}

.isi{
    height: 310px;
    width:790px;
    margin-top: 120px;
    border-radius: 35px;
    backdrop-filter: blur(8px);
    box-shadow: 0px 0px 30px white;
    align-items: center;
    justify-content: center;
}

ul{
    margin: 40px 65px;
}

.isi li{
    font-size: 20px;
    margin: 10px 0px;
    font-family: sans-serif;
    color: white;
    font-weight: 600;
    list-style-type: circle;
}